{% extends "base.html" %} {% block content %}
<section class="card">
  <div class="player-row">
    <h2>{{ player_name }}</h2>
    <button id="star-btn" style="border: none; background: none; padding: 0">
      <img
        id="star-img"
        src="https://upload.wikimedia.org/wikipedia/commons/1/18/Five-pointed_star.svg"
        width="50"
        height="50"
      />
    </button>
  </div>
  <p>
    {% if mode == 'career' %} Showing <strong>career</strong> hitting stats. {%
    else %} Showing <strong>{{ season }}</strong> single-season hitting stats.
    {% endif %}
  </p>

  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          {% for key in rows[0].keys() %}
          <th>{{ key }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          {% for val in row.values() %}
          <td>{{ val }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <p><a href="{{ url_for('index') }}">← New search</a></p>
</section>

<!--scripts-->

<script>
  const starImg = document.getElementById("star-img");

  const emptyStar =
    "https://upload.wikimedia.org/wikipedia/commons/1/18/Five-pointed_star.svg";

  const filledStar =
    "https://upload.wikimedia.org/wikipedia/commons/4/44/Plain_Yellow_Star.png";

  starImg.addEventListener("click", () => {
    starImg.src = starImg.src.includes("Five-pointed_star")
      ? filledStar
      : emptyStar;
  });
</script>
{% endblock %}
